@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

body {
  font-family: 'PT Sans Narrow', sans-serif;
  height: 200px;
  width: 200px;
}

#login {
  text-decoration: none;
}

#popup-nav {
  display: flex;
  justify-content: space-between;
}

#popup-copy {
  cursor: pointer;
}

.hidden {
  display: none;
}

.btn {
  padding: 4px 8px;
  border: 0;
  font-size: x-small;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 0 2px #0000008c, 2px 2px 4px #00000042, 4px 4px 6px #0000004d;
}

#clear-data {
  background: rgb(199 154 96);
  color: ghostwhite;
}

#clear-data:hover {
  background: rgb(222, 184, 135);
}

.highlighted {
  background-color: antiquewhite;
}

/* login-form */
#note-body > div {
  width: 80vw;
  margin: 0 auto;
}

#note-body #error-message {
  display: inline-block;
}

#note-form [type="submit"] {
  border-radius: 4px;
  margin-top: 2em;
  background-color: #4e48ac75;
  color: #34383b;
}